<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:action="@{/admin/edit}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}">
    <input type="text" th:field="*{name}" th:placeholder="${user.getName()}">
    <input type="text" th:field="*{login}" th:placeholder="${user.getLogin()}">
    <input type="text" th:field="*{password}" th:placeholder="${user.getPassword()}">
    <select name="role">
        <option>admin</option>
        <option>user</option>
        <option>guest</option>
    </select>
    <input type="submit" value="Изменить">
</form>
</body>
</html>