<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/adminPanel.js"></script>
</head>
<body>
    <nav class="navbar bg-dark">
        <span class="navbar-brand mb-1 h1 text-white">SpringBootSecurity</span>
            <ul class="nav justify-content-end pl-2 bg-dark">
                <li class="nav-item ">
                    <a class="nav-link" href="/logout"><span class="font-weight-normal text-white">Logout</span></a>
                </li>
            </ul>
    </nav>

    <div class="container-fluid bg-light">
        <div class="row">
            <div class="col-sm-2 bg-white py-3 px-0 vh-100">
                <nav class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-admin-tab" data-toggle="pill" href="#show_users" role="tab" aria-controls="v-pills-user" aria-selected="true">Admin</a>
                    <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" href="#user_profile" role="tab" aria-controls="v-pills-home" aria-selected="true">User</a>
                </nav>
            </div>

            <div class="col-sm-10 px-5 pt-3 bg-light">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="show_users" role="tabpanel" aria-labelledby="v-pills-user-tab">
                        <h2>Admin panel</h2>
                        <ul class="nav nav-tabs pt-4" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#users" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#addUser" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">New User
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="profile-tab">
                                <table class="table table-striped border">
                                    <thead>
                                        <tr>
                                            <th colspan="7" bgcolor="#d3d3d3">All users</th>
                                        </tr>
                                        <tr>
                                            <th>ID</th>
                                            <th>Role</th>
                                            <th>Login</th>
                                            <th>Password</th>
                                            <th>Name</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodyListOfUsers">

                                    </tbody>
                                </table>
                                <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editModalLabel"></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div id="formEdit" class="bg-white text-center">
                                                    <div class="form-group w-50 m-auto">
                                                        <label for="userId" class="col-form-label">ID</label>
                                                        <input type="text" class="form-control" id="userId" value="" disabled>
                                                    </div>
                                                    <div class="form-group w-50 m-auto">
                                                        <label for="userName" class="col-form-label">Name</label>
                                                        <input name="name" type="text" class="form-control" id="userName" required>
                                                    </div>
                                                    <div class="form-group w-50 m-auto">
                                                        <label for="userLogin" class="col-form-label">Login</label>
                                                        <input name="login" type="text" class="form-control" id="userLogin" required>
                                                    </div>
                                                    <div class="form-group w-50 m-auto">
                                                        <label for="userPassword" class="col-form-label">Password</label>
                                                        <input name="password" type="password" class="form-control" id="userPassword" placeholder="enter password">
                                                    </div>
                                                    <div class="form-group w-50 m-auto">
                                                        <label for="userRole" class="col-form-label">Role</label>
                                                        <select name="roles" multiple class="form-control text-secondary" id="userRole">

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button id="btnCloseEdit" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button id="btnEditUser" form="formEdit" type="submit" class="btn btn-primary">Edit user</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-danger">
                                            <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h5 ></h5>
                                            <div id="formDelete" class="bg-white text-center">

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button id="btnDeleteUser" form="formDelete" type="submit" class="btn btn-danger">Delete user</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="addUser" role="tabpanel" aria-labelledby="profile-tab">
                                <form class="border rounded bg-white text-center" id="formAdd" onsubmit="event.preventDefault()">
                                    <div class="h6 border rounded p-2 bg-light">Add new user</div>
                                    <div class="form-group w-25 m-auto">
                                        <label class="font-weight-bold" for="InputName">Name</label>
                                        <input type="text" class="form-control mb-3" id="InputName" placeholder="Name">
                                    </div>
                                    <div class="form-group w-25 m-auto p-auto">
                                        <label class="font-weight-bold" for="InputLogin">Login</label>
                                        <input type="text" class="form-control mb-3" id="InputLogin" placeholder="Login">
                                    </div>
                                    <div class="form-group w-25 m-auto">
                                        <label class="font-weight-bold" for="InputPassword">Password</label>
                                        <input type="password" class="form-control mb-3" id="InputPassword" placeholder="Password">
                                    </div>
                                    <div class="form-group w-25 m-auto">
                                        <label class="font-weight-bold" for="newUser-role">Role</label>
                                        <select name="selectedRoles" multiple class="form-control text-secondary" id="newUser-role">
                                        </select>
                                    </div>
                                    <button type="submit" id="addNewUser" class="btn btn-success my-3">Add new User</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="user_profile" role="tabpanel" aria-labelledby="v-pills-user-tab">
                        <div class="h1">User page</div>
                        <p id="userNameProfile"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
</body>
</html>